.header {
  padding: 25px 250px;
  margin: 0px auto 0px;
  backdrop-filter: blur(8px);
  background-color: #fff;
  /* background-color: rgba(45, 48, 59, 0.9); */
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  box-shadow: 0 2px 4px hsla(0, 0%, 52%, .05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #201f1f;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.nav_list {
  display: flex;
}

.nav_link {
  color: #201f1f;
  opacity: 1;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 30px;
}

.nav_link:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}

.search {
  width: 28px;
  height: 28px;
  opacity: 1;
  cursor: pointer;
  color: #201f1f;
}

.search:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}
