.header {
  width: 1160px;
  margin: 0 auto;
  padding: 3.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #201f1f;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: #201f1f;
  opacity: 1;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 30px;
}

.nav-link:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth {
  color: #0a78ff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.auth:hover {
  opacity: 0.7;
}

.search-icon {
  width: 28px;
  height: 28px;
  opacity: 1;
  cursor: pointer;
  color: #201f1f;
}

.search-icon:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}
