.pagination {
  padding: 3.5rem 0;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.pagination span {
  padding: 8px 16px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination span:hover {
  color: #fff;
  background-color: #007bff;
}

.pagination p {
  color: #555;
  font-size: 16px;
  font-weight: 500;
}
