.container {
  display: flex;
  flex-direction: column;
  width: 24rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  outline: none;
  appearance: none;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-in-out;
  border: 2px solid rgba(var(--color-text-dimmed));
}

input:focus {
  border-color: rgba(var( --color-text-secondary));
}

.error-message {
  color: #b22222;
  font-weight: 600;
  margin-bottom: 16px;
}

.container button {
  width: 100%;
  display: block;
  padding: 0.75rem;
  margin-top: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(var(--color-text-dimmed));
}

.container button:hover {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  transform: translateY(-3px);
}

.auth-switch {
  margin-top: 1.5rem;
  font-size: 14px;
  text-align: center;
}

.auth-link {
  color: #007bff;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
